<script setup>
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { get_single_content, update_content, create_content } from '@/services/content'

const isLoading = ref(true)
const route = useRoute()
const product = ref({})
const tempProduct = ref({
  name: '',
  description: '',
  price: 0,
  quantity: 0
})
const isCreate = ref(true)
onMounted(async ()=>{
  let params = route.params.id
  if (params !== 'new'){
    isCreate.value = false
    let response = await get_single_content(params, 'products')
    console.log("🚀 ~ file: EditProductView.vue:19 ~ onMounted ~ response:", response)
    product.value = response.result.data.data
    tempProduct.value.name = product.value.attributes.name
    tempProduct.value.description = product.value.attributes.description
    tempProduct.value.price = product.value.attributes.price
    tempProduct.value.quantity = product.value.attributes.quantity
    console.log("🚀 ~ file: EditProductView.vue:19 ~ onMounted ~ product.value:", product.value)
  }
  isLoading.value = false
})

async function submitForm(){
  let response = ''
  let params = route.params.id
  if (params !== 'new'){
    response = await update_content(product.value.id, 'products', tempProduct.value)
    // eslint-disable-next-line
    Swal.fire({
      title: 'Updated',
      text: 'Product has been updated',
      icon: 'success'
    })
  }else{
    response = await create_content(tempProduct.value, 'products')
    // eslint-disable-next-line
    Swal.fire({
      title: 'Created',
      text: 'Product has been added',
      icon: 'success'
    })
  }
  console.log("🚀 ~ file: EditProductView.vue:35 ~ submitForm ~ response:", response)
}
</script>
<template>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center my-4">
        <h4 v-if="isCreate" class="mb-0">Add New Product</h4>
        <h4 v-else class="mb-0">Edit Product</h4>
      </div>
      <div class="card card-body">
        <form @submit.prevent="submitForm()">
          <div class="mb-3">
            <label class="form-label">Product name</label>
            <input type="text" class="form-control" v-model="tempProduct.name">
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="3" v-model="tempProduct.description"></textarea>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Price</label>
              <input type="decimal" class="form-control" v-model="tempProduct.price">
            </div>
            <div class="col-6">
              <label class="form-label">Quantity</label>
              <input type="number" class="form-control" v-model="tempProduct.quantity">
            </div>
          </div>
          <div class="text-end">
            <button v-if="isCreate" type="submit" class="btn btn-primary">Add Product</button>
            <button v-else type="submit" class="btn btn-primary">Update Product</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>