
<script setup>
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { get_content, get_single_content, update_content, create_content } from '@/services/content'
import dayjs from 'dayjs'

const isLoading = ref(true)
const route = useRoute()
const stock = ref({})
const tempStock = ref({
  name: '',
  purchase_date: '',
  purchase_price: 0,
  quantity_purchased: 0,
  product: null,
  supplier: null,
})
const isCreate = ref(true)

const products = ref({data: [], options: []})
const suppliers = ref({data: [], options: []})
onMounted(async ()=>{
  let params = route.params.id
  if (params !== 'new'){
    isCreate.value = false
    let response = await get_single_content(params, 'stocks', 'populate=*')
    console.log("🚀 ~ file: EditStockView.vue:19 ~ onMounted ~ response:", response)
    stock.value = response.result.data.data
    // console.log("🚀 ~ file: EditStockView.vue:30 ~ onMounted ~ stock.value.attributes.product:", stock.value.attributes.product.id)
    tempStock.value.product = stock.value.attributes.product.data.id
    tempStock.value.supplier = stock.value.attributes.supplier.data.id
    tempStock.value.purchase_date = dayjs(stock.value.attributes.purchase_date).format('YYYY-MM-DD')
    tempStock.value.purchase_price = stock.value.attributes.purchase_price
    tempStock.value.quantity_purchased = stock.value.attributes.quantity_purchased
    
  }
  let productsRes = await get_content('products')
  let suppliersRes = await get_content('suppliers')
  products.value.data = productsRes.result.data.data
  suppliers.value.data = suppliersRes.result.data.data
  products.value.options = parseOption(products.value.data)
  suppliers.value.options = parseOption(suppliers.value.data)
  isLoading.value = false
})

function parseOption(data){
  let options = data.map(item => {
    return {
      label: item.attributes.name,
      valueProps: item.id
    }
  })
  return options
}

async function submitForm(){
  let response = ''
  let params = route.params.id
  if (params !== 'new'){
    response = await update_content(stock.value.id, 'stocks', tempStock.value)
    // eslint-disable-next-line
    Swal.fire({
      title: 'Updated',
      text: 'Stock has been updated',
      icon: 'success'
    })
  }else{
    response = await create_content(tempStock.value, 'stocks')
    // eslint-disable-next-line
    Swal.fire({
      title: 'Created',
      text: 'Stock has been added',
      icon: 'success'
    })
  }
  console.log("🚀 ~ file: EditStockView.vue:35 ~ submitForm ~ response:", response)
}
// const tempVal = ref('')
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center my-4">
        <h4 v-if="isCreate" class="mb-0">Add New Stock</h4>
        <h4 v-else class="mb-0">Edit Stock</h4>
      </div>
      <div class="card card-body">
        <form @submit.prevent="submitForm()">
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Product</label>
              <MultiSelect
                v-model="tempStock.product"
                :options="products.options"
                valueProp="valueProps"
              />
              <!-- <input type="text" class="form-control"> -->
            </div>
            <div class="col-6">
              <label class="form-label">Supplier</label>
              <MultiSelect
                v-model="tempStock.supplier"
                :options="suppliers.options"
                valueProp="valueProps"
              />
              <!-- <input type="text" class="form-control"> -->
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Purchased Date</label>
              <input type="date" class="form-control" v-model="tempStock.purchase_date">
            </div>
            <div class="col-6">
              <label class="form-label">Purchased Price</label>
              <input type="decimal" class="form-control" v-model="tempStock.purchase_price">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Purchased Quantity</label>
              <input type="number" class="form-control" v-model="tempStock.quantity_purchased">
            </div>
          </div>
          <div class="text-end">
            <button v-if="isCreate" type="submit" class="btn btn-primary">Add Stock</button>
            <button v-else type="submit" class="btn btn-primary">Update Stock</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>