<script setup>
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { get_single_content, update_content, create_content } from '@/services/content'

const isLoading = ref(true)
const route = useRoute()
const supplier = ref({})
const tempSupplier = ref({
  name: '',
  contact_number: '',
  contact_person: '',
  email: '',
})
const isCreate = ref(true)
onMounted(async ()=>{
  let params = route.params.id
  if (params !== 'new'){
    isCreate.value = false
    let response = await get_single_content(params, 'suppliers')
    console.log("🚀 ~ file: EditSupplierView.vue:19 ~ onMounted ~ response:", response)
    supplier.value = response.result.data.data
    tempSupplier.value.name = supplier.value.attributes.name
    tempSupplier.value.contact_number = supplier.value.attributes.contact_number
    tempSupplier.value.contact_person = supplier.value.attributes.contact_person
    tempSupplier.value.email = supplier.value.attributes.email
    console.log("🚀 ~ file: EditSupplierView.vue:19 ~ onMounted ~ supplier.value:", supplier.value)
  }
  isLoading.value = false
})

async function submitForm(){
  let response = ''
  let params = route.params.id
  if (params !== 'new'){
    response = await update_content(supplier.value.id, 'suppliers', tempSupplier.value)
    // eslint-disable-next-line
    Swal.fire({
      title: 'Updated',
      text: 'Supplier has been updated',
      icon: 'success'
    })
  }else{
    response = await create_content(tempSupplier.value, 'suppliers')
    // eslint-disable-next-line
    Swal.fire({
      title: 'Created',
      text: 'Supplier has been added',
      icon: 'success'
    })
  }
  console.log("🚀 ~ file: EditSupplierView.vue:35 ~ submitForm ~ response:", response)
}
</script>

<template>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center my-4">
        <h4 v-if="isCreate" class="mb-0">Add New Supplier</h4>
        <h4 v-else class="mb-0">Edit Supplier</h4>
      </div>
      <div class="card card-body">
        <form @submit.prevent="submitForm()">
          <div class="mb-3">
            <label class="form-label">Supplier name</label>
            <input type="text" class="form-control" v-model="tempSupplier.name">
          </div>
          <div class="row mb-3">
            <div class="col-6">
              <label class="form-label">Contact Person</label>
              <input type="text" class="form-control" v-model="tempSupplier.contact_person">
            </div>
            <div class="col-6">
              <label class="form-label">Contact Number</label>
              <input type="text" class="form-control" v-model="tempSupplier.contact_number">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Contact Email</label>
            <input type="email" class="form-control" v-model="tempSupplier.email">
          </div>
          <div class="text-end">
            <button v-if="isCreate" type="submit" class="btn btn-primary">Add Supplier</button>
            <button v-else type="submit" class="btn btn-primary">Update Supplier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>