<script setup>
import { ref } from 'vue';
import { auth_user } from '@/services/auth'
import { useRouter } from 'vue-router';

const isLoading = ref(true)
const form = ref({
  email: '',
  password: ''
})

const router = useRouter()
async function submitForm(){
  isLoading.value = true
  let response = await auth_user({identifier: form.value.name, password: form.value.password})
  console.log("🚀 ~ file: LoginView.vue:12 ~ submitForm ~ response:", response)
  isLoading.value = false
  router.push({name: 'home'})
}
</script>

<template>
  <div class="container ">
    <div class="row vh-100 d-flex justify-content-center align-items-center">
      <div class="w-25 card m-auto">
        <div class="card-body">
          <div>
            <h4>Welcome back</h4>
          </div>
          <form @submit.prevent="submitForm()">
            <div class="mb-3">
              <p class="text-start mb-0">Email address</p>
              <input type="email" class="form-control" v-model="form.name">
              <div id="emailHelp" class="form-text text-start">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <p for="exampleInputPassword1" class="text-start mb-0">Password</p>
              <input type="password" class="form-control" v-model="form.password">
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
