<script setup>
import { onMounted, ref } from 'vue';
import { get_content, delete_content } from '@/services/content'

const isLoading = ref(true)
const products = ref([])
onMounted(async ()=>{
  let response = await get_content('products')
  console.log("🚀 ~ file: ProductsView.vue:9 ~ onMounted ~ response:", response)
  products.value = response.result.data.data
  isLoading.value = false
})

async function deleteProduct(product_id){
  let response = await delete_content(product_id, 'products')
  console.log("🚀 ~ file: ProductsView.vue:16 ~ deleteProduct ~ response:", response)
  let x = products.value.findIndex(item=> item.id == product_id)
  products.value.splice(x,1)
  // eslint-disable-next-line
  Swal.fire({
    title: 'Deleted',
    text: 'Product has been deleted',
    icon: 'success'
  })
}

</script>
<template>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center my-4">
        <h4 class="mb-0">Product List</h4>
        <router-link to="/products/new" class="btn btn-primary ms-2 btn-sm">
          Add New Product
        </router-link>
      </div>
      <div v-auto-animate>
        <p v-if="isLoading">Loading</p>
        <div v-else class="card card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody v-auto-animate>
              <tr v-for="product in products" :key="product.id">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.attributes.name }}</td>
                <td>{{ product.attributes.description }}</td>
                <td>
                  <div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <router-link :to="'/products/' + product.id" class="btn btn-primary btn-sm">Edit</router-link>
                      <button type="button" @click="deleteProduct(product.id)" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>