<script setup>
import { onMounted, ref } from 'vue';
import { get_content, delete_content } from '@/services/content'
import dayjs from 'dayjs'

const isLoading = ref(true)
const stocks = ref([])
onMounted(async ()=>{
  let response = await get_content('stocks', 'populate=*')
  console.log("🚀 ~ file: StocksView.vue:9 ~ onMounted ~ response:", response)
  stocks.value = response.result.data.data
  isLoading.value = false
})

async function deleteStock(stock_id){
  let response = await delete_content(stock_id, 'stocks')
  console.log("🚀 ~ file: StocksView.vue:16 ~ deleteStock ~ response:", response)
  let x = stocks.value.findIndex(item=> item.id == stock_id)
  stocks.value.splice(x,1)
  // eslint-disable-next-line
  Swal.fire({
    title: 'Deleted',
    text: 'Stock has been deleted',
    icon: 'success'
  })
}

</script>

<template>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center my-4">
        <h4 class="mb-0">Stock List</h4>
        <router-link to="/stocks/new" class="btn btn-primary ms-2 btn-sm">
          Add New Stock
        </router-link>
      </div>
      <div v-auto-animate>
        <p v-if="isLoading">Loading</p>
        <div v-else class="card card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Purchased Date</th>
                <th scope="col">Supplier</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody v-auto-animate>
              <tr v-for="stock in stocks" :key="stock.id">
                <th scope="row">{{ stock.id }}</th>
                <td>{{ dayjs(stock.attributes.purchase_date).format('DD MMM YYYY') }}</td>
                <td>
                  {{ stock.attributes.supplier.data.attributes.name }}
                </td>
                <td>
                  <div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <router-link :to="'/stocks/' + stock.id" class="btn btn-primary btn-sm">Edit</router-link>
                      <button type="button" class="btn btn-danger btn-sm" @click="deleteStock(stock.id)">Delete</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>