<script setup>
import { onMounted, ref } from 'vue';
import { get_content, delete_content } from '@/services/content'

const isLoading = ref(true)
const suppliers = ref([])
onMounted(async ()=>{
  let response = await get_content('suppliers')
  suppliers.value = response.result.data.data
  isLoading.value = false
})

async function deleteSupplier(supplier_id){
  let response = await delete_content(supplier_id, 'suppliers')
  console.log("🚀 ~ file: SuppliersView.vue:16 ~ deleteSupplier ~ response:", response)
  let x = suppliers.value.findIndex(item=> item.id == supplier_id)
  suppliers.value.splice(x,1)
  // eslint-disable-next-line
  Swal.fire({
    title: 'Deleted',
    text: 'Supplier has been deleted',
    icon: 'success'
  })
}

</script>

<template>
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center my-4">
        <h4 class="mb-0">Supplier List</h4>
        <router-link to="/suppliers/new" class="btn btn-primary ms-2 btn-sm">
          Add New Supplier
        </router-link>
      </div>
      <div v-auto-animate>
        <p v-if="isLoading">Loading</p>
        <div v-else class="card card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="supplier in suppliers" :key="supplier.id">
                <th scope="row">{{ supplier.id }}</th>
                <td>{{ supplier.attributes.name }}</td>
                <td>
                  <div>
                    <p class="mb-0">{{ supplier.attributes.contact_person }}</p>
                    <small class="text-secondary">{{ supplier.attributes.contact_number }}</small>
                  </div>
                </td>
                <td>
                  <div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <router-link :to="'/suppliers/' + supplier.id" class="btn btn-primary btn-sm">Edit</router-link>
                      <button type="button" class="btn btn-danger btn-sm" @click="deleteSupplier(supplier.id)">Delete</button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>