<template>
  <!-- <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav> -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid justify-content-start">
      <a class="navbar-brand" href="#">Inventory System</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="d-flex" id="navbarNav">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item">
            <router-link to="/" class="nav-link">Home</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/products" class="nav-link">Products</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/suppliers" class="nav-link">Suppliers</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/stocks" class="nav-link">Stocks</router-link>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-view/>
  </div>
</template>

<style lang="scss">
.nav-item{
  margin: 0.5rem;
}
.router-link-active{
  font-weight: 600;
}
</style>
